body {
	margin: 0;
	padding: 0;
	background-image: url("images/back.jpg");

}

.header {
	font-family: 'Palanquin Dark', sans-serif;
	text-align: center;

}

.Previous {
	text-align: center;
	width: 33%;
}

.month {
	text-align: center;
	width: 33%;
}

.Next {
	text-align: center;
	width: 33%;
}


a.mButton {

	font-family: 'Spirax', cursive;
	background-color: dodgerblue;
	font-size: 1.5em;
	color: white;
	text-decoration: none;
	border: none;
	width: 50px; 
	margin:0;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 50%;
}